@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Grenze+Gotisch:wght@700&family=Just+Another+Hand&family=Lobster&family=Montserrat:wght@400;600;700&family=Piedra&family=Poppins:wght@400;600;700&family=Quicksand:wght@500&family=Russo+One&family=Rye&display=swap");
/*  --------------------------------------
font-family: 'Dancing Script', cursive;
font-family: 'Grenze Gotisch', cursive;
font-family: 'Just Another Hand', cursive;
font-family: 'Lobster', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Piedra', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Russo One', sans-serif;
font-family: 'Rye', cursive;
-----------------------------------------
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: beige; */
}

.navbar-brand {
  transform: scale(1.1);
  font-family: "Rye", cursive;
}
.nav-link {
  font-family: "Poppins", sans-serif;
  font-size: 1.3em;
}
form .nav-link {
  color: rgba(0, 0, 0, 0.5);
}
form .nav-link:hover {
  color: rgba(0, 0, 0, 0.8);
}
.controller-heading,
.card-header,
.remark-heading {
  font-family: "Grenze Gotisch", cursive;
  position: relative;
}
.instructions {
  font-family: "Piedra", cursive;
}
.panel {
  display: flex;
  position: relative;
  justify-content: space-between;
}
.bpInput {
  width: 60px;
}
.even-flex {
  display: flex;
  justify-content: space-evenly;
}
.votes {
  border-radius: 15px 50px 30px;
  border: 2px solid #609;
  padding: 20px;
  width: fit-content;
  height: 15px;
  margin: 5px auto;
  margin-right: 5px;
}
.bpChecks
{
  width: 20px;
  height: 20px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 5px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: green;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: red;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* .bonus label, .penalty label{
  font-size: 175%;
}
.bonus input, .penalty input{
    text-align: center;
    border: 2px solid white;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: black;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    border-radius: 10px;
    transition: 0.25s;
}
.bonus input:hover, .penalty input:hover{
  border-color: orange;
}
.bonus input:focus, .penalty input:focus{
  border-color: black;
} */
.bdr {
  border: 1px solid blueviolet;
  border-radius: 50px;
  margin: 0px 10px;
  padding: 7px;
}
.bdr:hover {
  transform: scale(1.1);
  /* border: none; */
}
footer{
  position: relative;
}
