@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Grenze+Gotisch:wght@700&family=Just+Another+Hand&family=Lobster&family=Montserrat:wght@400;600;700&family=Piedra&family=Poppins:wght@400;600;700&family=Quicksand:wght@500&family=Russo+One&family=Rye&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-brand {
  transform: scale(1.1);
  font-family: "Rye", cursive;
}
.nav-link {
  font-family: "Poppins", sans-serif;
  font-size: 1.3em;
}
form .nav-link {
  color: rgba(0, 0, 0, 0.5);
}
form .nav-link:hover {
  color: rgba(0, 0, 0, 0.8);
}
.team-name {
  font-family: "Grenze Gotisch", cursive;
  /* font-family: 'Rye', cursive; */
  position: relative;
}
.instructions {
  font-family: "Piedra", cursive;
  outline: none;
}
.modal-title {
  font-family: "Piedra", cursive;
  font-size: 1.7em;
}
.modal-body {
  font-family: "Quicksand", sans-serif;
}
.modal-body p {
  text-indent: 70px;
}
.input-heading {
  font-family: "Russo One", sans-serif;
}
.input-controller {
  padding: 5px;
  border: 2px solid red;
  border-radius: 10px;
}
.display-4,
.game-history {
  font-family: "Quicksand", sans-serif;
}
#balance {
  font-family: "Poppins", sans-serif;
}
.radio-btn {
  background-color: royalblue;
  /* border: 1px solid #4A4A4A; */
  color: #4a5362;
  font-family: "Titan One", cursive;
  font-size: 14px;
  line-height: 26px;
  outline: none;
}
.radio-btn-selected {
  background-color: darkgreen;
  color: #55bc7e;
  font-family: "Titan One", cursive;
  font-size: 14px;
  line-height: 26px;
  outline: none;
}
#historyMonth {
  font-family: "Titan One", cursive;
}
.row .card-body {
  font-family: "Baloo 2", cursive;
}
.row .card-body h5 {
  color: darkolivegreen;
}
.row .card-body h4 {
  color: blue;
}
.row .card-header {
  color: darkorchid;
}
#historyMonth {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
