@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Grenze+Gotisch:wght@700&family=Just+Another+Hand&family=Lobster&family=Montserrat:wght@400;600;700&family=Piedra&family=Poppins:wght@400;600;700&family=Quicksand:wght@500&family=Russo+One&family=Rye&display=swap");
/*  --------------------------------------
font-family: 'Dancing Script', cursive;
font-family: 'Grenze Gotisch', cursive;
font-family: 'Just Another Hand', cursive;
font-family: 'Lobster', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Piedra', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Russo One', sans-serif;
font-family: 'Rye', cursive;
-----------------------------------------
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: beige; */
}
body {
  height: 100vh;
  background: rgb(56, 210, 160);
  background: -moz-linear-gradient(
    312deg,
    rgba(56, 210, 160, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    312deg,
    rgba(56, 210, 160, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  background: linear-gradient(
    312deg,
    rgba(56, 210, 160, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#38d2a0",endColorstr="#00d4ff",GradientType=1);
}

.navbar-brand {
  transform: scale(1.1);
  font-family: "Rye", cursive;
}
.nav-link {
  font-family: "Poppins", sans-serif;
}
form .nav-link {
  color: rgba(0, 0, 0, 0.5);
}
form .nav-link:hover {
  color: rgba(0, 0, 0, 0.8);
}
p {
  font-weight: bold;
}
