<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard | Yamuni</title>

    <link rel="stylesheet" href="/css/team.css" />
    <link rel="stylesheet" href="/css/admin.css" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&family=Berkshire+Swash&family=Cairo:wght@400;900&family=Gayathri&family=Indie+Flower&family=Titan+One&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Grenze+Gotisch:wght@700&family=Just+Another+Hand&family=Lobster&family=Montserrat:wght@400;600;700&family=Piedra&family=Poppins:wght@400;600;700&family=Quicksand:wght@500&family=Russo+One&family=Rye&display=swap"
    />
  </head>
  <body>
    <!-- nav -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand font-weight-bold" href="#">YAMUNI</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link font-weight-bold" href="#"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item active">
            <a class="nav-link font-weight-bold" href="#">Game</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <a
            class="nav-link font-weight-bold my-2 my-sm-0"
            href="/"
            onclick="logout()"
            >Log Out</a
          >
          <!-- <button class="btn btn-success my-2 my-sm-0 font-weight-bold" type="submit">Login</button> -->
        </form>
      </div>
    </nav>

    <div class="container mt-5 game-controller">
      <h1 class="display-4 text-center controller-heading mb-5">
        Game Controller
      </h1>
      <div class="table-responsive">
        <table
          class="table table-bordered table-striped table-hover text-center"
        >
          <thead>
            <tr>
              <th scope="col" class="align-middle" rowspan="2">Months</th>
              <th scope="col" class="align-middle" rowspan="2">
                Month Activator
              </th>
              <th scope="col" colspan="2">North</th>
              <th scope="col" colspan="2">East</th>
              <th scope="col" colspan="2">West</th>
              <th scope="col" colspan="2">South</th>
            </tr>
            <tr>
              <th scope="col">Vote</th>
              <th scope="col">Result</th>
              <th scope="col">Vote</th>
              <th scope="col">Result</th>
              <th scope="col">Vote</th>
              <th scope="col">Result</th>
              <th scope="col">Vote</th>
              <th scope="col">Result</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">January</th>
              <td><input type="checkbox" name="activator" id="actJan" /></td>
              <td id="niJan"></td>
              <td id="nrJan"></td>
              <td id="eiJan"></td>
              <td id="erJan"></td>
              <td id="wiJan"></td>
              <td id="wrJan"></td>
              <td id="siJan"></td>
              <td id="srJan"></td>
            </tr>
            <tr>
              <th scope="row">February</th>
              <td><input type="checkbox" name="activator" id="actFeb" /></td>
              <td id="niFeb"></td>
              <td id="nrFeb"></td>
              <td id="eiFeb"></td>
              <td id="erFeb"></td>
              <td id="wiFeb"></td>
              <td id="wrFeb"></td>
              <td id="siFeb"></td>
              <td id="srFeb"></td>
            </tr>
            <tr>
              <th scope="row">March</th>
              <td><input type="checkbox" name="activator" id="actMar" /></td>
              <td id="niMar"></td>
              <td id="nrMar"></td>
              <td id="eiMar"></td>
              <td id="erMar"></td>
              <td id="wiMar"></td>
              <td id="wrMar"></td>
              <td id="siMar"></td>
              <td id="srMar"></td>
            </tr>
            <tr>
              <th scope="row">April</th>
              <td><input type="checkbox" name="activator" id="actApr" /></td>
              <td id="niapr"></td>
              <td id="nrapr"></td>
              <td id="eiapr"></td>
              <td id="erapr"></td>
              <td id="wiapr"></td>
              <td id="wrapr"></td>
              <td id="siapr"></td>
              <td id="srapr"></td>
            </tr>
            <tr>
              <th scope="row">May</th>
              <td><input type="checkbox" name="activator" id="actMay" /></td>
              <td id="niMay"></td>
              <td id="nrMay"></td>
              <td id="eiMay"></td>
              <td id="erMay"></td>
              <td id="wiMay"></td>
              <td id="wrMay"></td>
              <td id="siMay"></td>
              <td id="srMay"></td>
            </tr>
            <tr>
              <th scope="row">June</th>
              <td><input type="checkbox" name="activator" id="actJun" /></td>
              <td id="niJun"></td>
              <td id="nrJun"></td>
              <td id="eiJun"></td>
              <td id="erJun"></td>
              <td id="wiJun"></td>
              <td id="wrJun"></td>
              <td id="siJun"></td>
              <td id="srJun"></td>
            </tr>
            <tr>
              <th scope="row">July</th>
              <td><input type="checkbox" name="activator" id="actJul" /></td>
              <td id="niJul"></td>
              <td id="nrJul"></td>
              <td id="eiJul"></td>
              <td id="erJul"></td>
              <td id="wiJul"></td>
              <td id="wrJul"></td>
              <td id="siJul"></td>
              <td id="srJul"></td>
            </tr>
            <tr>
              <th scope="row">August</th>
              <td><input type="checkbox" name="activator" id="actAug" /></td>
              <td id="niAug"></td>
              <td id="nrAug"></td>
              <td id="eiAug"></td>
              <td id="erAug"></td>
              <td id="wiAug"></td>
              <td id="wrAug"></td>
              <td id="siAug"></td>
              <td id="srAug"></td>
            </tr>
            <tr>
              <th scope="row">September</th>
              <td><input type="checkbox" name="activator" id="actSep" /></td>
              <td id="niSep"></td>
              <td id="nrSep"></td>
              <td id="eiSep"></td>
              <td id="erSep"></td>
              <td id="wiSep"></td>
              <td id="wrSep"></td>
              <td id="siSep"></td>
              <td id="srSep"></td>
            </tr>
            <tr>
              <th scope="row">October</th>
              <td><input type="checkbox" name="activator" id="actOct" /></td>
              <td id="niOct"></td>
              <td id="nrOct"></td>
              <td id="eiOct"></td>
              <td id="erOct"></td>
              <td id="wiOct"></td>
              <td id="wrOct"></td>
              <td id="siOct"></td>
              <td id="srOct"></td>
            </tr>
            <tr>
              <th scope="row">November</th>
              <td><input type="checkbox" name="activator" id="actNov" /></td>
              <td id="niNov"></td>
              <td id="nrNov"></td>
              <td id="eiNov"></td>
              <td id="erNov"></td>
              <td id="wiNov"></td>
              <td id="wrNov"></td>
              <td id="siNov"></td>
              <td id="srNov"></td>
            </tr>
            <tr>
              <th scope="row">December</th>
              <td><input type="checkbox" name="activator" id="actDec" /></td>
              <td id="niDec"></td>
              <td id="nrDec"></td>
              <td id="eiDec"></td>
              <td id="erDec"></td>
              <td id="wiDec"></td>
              <td id="wrDec"></td>
              <td id="siDec"></td>
              <td id="srDec"></td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Activators -->
      <div class="even-flex my-3">
        <button class="btn btn-primary btn-lg">Activate Months</button>
        <button class="btn btn-success btn-lg">Publish Months</button>
      </div>

      <!-- Bonus-Penalty table  -->
      <div class="bonus-penalty-adder table-responsive">
        <table
          class="table table-bordered table-striped table-hover text-center"
        >
          <thead>
            <tr>
              <th scope="col">Months</th>
              <th scope="col">Month Activator</th>
              <th scope="col">North</th>
              <th scope="col">East</th>
              <th scope="col">West</th>
              <th scope="col">South</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">January</th>
              <td><input type="checkbox" name="activator" id="actJanBP" /></td>
              <td id="nJanBP"></td>
              <td id="eJanBP"></td>
              <td id="wJanBP"></td>
              <td id="sJanBP"></td>
            </tr>
            <tr>
              <th scope="row">February</th>
              <td><input type="checkbox" name="activator" id="actFebBP" /></td>
              <td id="nFebBP"></td>
              <td id="eFebBP"></td>
              <td id="wFebBP"></td>
              <td id="sFebBP"></td>
            </tr>
            <tr>
              <th scope="row">March</th>
              <td><input type="checkbox" name="activator" id="actMarBP" /></td>
              <td id="nMarBP"></td>
              <td id="eMarBP"></td>
              <td id="wMarBP"></td>
              <td id="sMarBP"></td>
            </tr>
            <tr>
              <th scope="row">April</th>
              <td><input type="checkbox" name="activator" id="actAprBP" /></td>
              <td id="nAprBP"></td>
              <td id="eAprBP"></td>
              <td id="wAprBP"></td>
              <td id="sAprBP"></td>
            </tr>
            <tr>
              <th scope="row">May</th>
              <td><input type="checkbox" name="activator" id="actMayBP" /></td>
              <td id="nMayBP"></td>
              <td id="eMayBP"></td>
              <td id="wMayBP"></td>
              <td id="sMayBP"></td>
            </tr>
            <tr>
              <th scope="row">June</th>
              <td><input type="checkbox" name="activator" id="actJunBP" /></td>
              <td id="nJunBP"></td>
              <td id="eJunBP"></td>
              <td id="wJunBP"></td>
              <td id="sJunBP"></td>
            </tr>
            <tr>
              <th scope="row">July</th>
              <td><input type="checkbox" name="activator" id="actJulBP" /></td>
              <td id="nJulBP"></td>
              <td id="eJulBP"></td>
              <td id="wJulBP"></td>
              <td id="sJulBP"></td>
            </tr>
            <tr>
              <th scope="row">August</th>
              <td><input type="checkbox" name="activator" id="actAugBP" /></td>
              <td id="nAugBP"></td>
              <td id="eAugBP"></td>
              <td id="wAugBP"></td>
              <td id="sAugBP"></td>
            </tr>
            <tr>
              <th scope="row">September</th>
              <td><input type="checkbox" name="activator" id="actSepBP" /></td>
              <td id="nSepBP"></td>
              <td id="eSepBP"></td>
              <td id="wSepBP"></td>
              <td id="sSepBP"></td>
            </tr>
            <tr>
              <th scope="row">October</th>
              <td><input type="checkbox" name="activator" id="actOctBP" /></td>
              <td id="nOctBP"></td>
              <td id="eOctBP"></td>
              <td id="wOctBP"></td>
              <td id="sOctBP"></td>
            </tr>
            <tr>
              <th scope="row">November</th>
              <td><input type="checkbox" name="activator" id="actNovBP" /></td>
              <td id="nNovBP"></td>
              <td id="eNovBP"></td>
              <td id="wNovBP"></td>
              <td id="sNovBP"></td>
            </tr>
            <tr>
              <th scope="row">December</th>
              <td><input type="checkbox" name="activator" id="actDecBP" /></td>
              <td id="nDecBP"></td>
              <td id="eDecBP"></td>
              <td id="wDecBP"></td>
              <td id="sDecBP"></td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Activators -->
      <div class="even-flex my-3">
        <button class="btn btn-primary btn-lg">Activate Months</button>
        <button class="btn btn-success btn-lg">Publish Months</button>
      </div>

      <!-- Toggle switch  -->
      <div class="even-flex my-4">
        <div class="northBP">
          <span class="font-weight-bold">Bonus</span>
          <label class="switch">
            <input type="checkbox" />
            <span class="slider round"></span>
          </label>
          <span class="font-weight-bold">Penalty</span>
        </div>
        <div class="eastBP">
          <span class="font-weight-bold">Bonus</span>
          <label class="switch">
            <input type="checkbox" />
            <span class="slider round"></span>
          </label>
          <span class="font-weight-bold">Penalty</span>
        </div>
        <div class="westBP">
          <span class="font-weight-bold">Bonus</span>
          <label class="switch">
            <input type="checkbox" />
            <span class="slider round"></span>
          </label>
          <span class="font-weight-bold">Penalty</span>
        </div>
        <div class="southBP">
          <span class="font-weight-bold">Bonus</span>
          <label class="switch">
            <input type="checkbox" />
            <span class="slider round"></span>
          </label>
          <span class="font-weight-bold">Penalty</span>
        </div>
      </div>

      <!-- Bonus-Penalty Dropdown -->
      <div class="BP-dropdown">
        <form action="" class="was-validated form-inline even-flex">
          <div class="form-group">
            <h3 for="bonusValue">Bonus:</h3>
            <select
              class="custom-select h-50 text-muted text-center mx-3"
              id="selectedBonusValue"
              required
            >
              <option value="">Select a Value</option>
              <option value="0">0</option>
              <option value="20000">20,000</option>
              <option value="30000">30,000</option>
              <option value="40000">40,000</option>
              <option value="50000">50,000</option>
            </select>
            <h3 for="penaltyValue">Penalty:</h3>
            <select
              class="custom-select h-50 text-muted text-center ml-3"
              id="selectedPenaltyValue"
              required
            >
              <option value="">Select a Value</option>
              <option value="0">0</option>
              <option value="20000">20,000</option>
              <option value="30000">30,000</option>
              <option value="40000">40,000</option>
              <option value="50000">50,000</option>
            </select>
            <!-- <div class="invalid-feedback font-weight-bold mt-n2">Invalid option</div> -->
          </div>
          <button class="btn btn-lg btn-success" type="submit">
            Publish Bonus (Penalty)
          </button>
        </form>
      </div>
    </div>

    <!-- <div class="container">
      <div class="row"> -->
    <!-- game setup section -->
    <!-- <div
          class="col-md-5 mx-auto py-3"
          style="
            border: 1px solid blueviolet;
            border-radius: 15px;
            margin-top: 5px;
          "
        >
          <div class="text-center">
            <h5
              class="card-header"
              style="
                font-family: 'Baloo 2', cursive;
                color: darkmagenta;
                border-radius: 15px;
              "
            >
              Game-Setup
            </h5>
            <div class="card-body">

              <form class="was-validated">
                <div class="form-group">
                  <div class="col-md">
                    <select
                      class="custom-select selectmonth"
                      multiple="multiple"
                      size="4"
                      required
                    >
                      <option value="January">January</option>
                      <option value="February">February</option>
                      <option value="March">March</option>
                      <option value="April">April</option>
                      <option value="May">May</option>
                      <option value="June">June</option>
                      <option value="July">July</option>
                      <option value="August">August</option>
                      <option value="September">September</option>
                      <option value="October">October</option>
                      <option value="November">November</option>
                      <option value="December">December</option>
                    </select>
                  </div> -->
    <!-- to activate the month for playing -->
    <!-- <button
                    type="submit"
                    class="btn btn-group-sm btn-success mt-2"
                    style="font-family: 'Baloo 2', cursive;"
                  >
                    Activate
                  </button>
                </div>
              </form>
              <hr /> -->
    <!-- Dropdown disable function -->
    <!-- <script type="text/javascript">
                $(function () {
                  $(".selectmonth").selected({});
                });
              </script> -->

    <!--Team Votes Area-->
    <!-- <div id="teamVote">
                <h4 id="month">January</h4>
                <div class="team-n evenly-flex mx-auto">
                  <label for="north">North</label>
                  <label for="east">East</label>
                  <label for="west">West</label>
                  <label for="south">South</label>
                </div> -->
    <!--Team Votes From DB-->
    <!-- <div
                  class="row text-center mx-auto"
                  style="width: fit-content;"
                >
                  <input
                    type="text"
                    class="votes"
                    name=""
                    id="N"
                    readonly
                    value="C"
                    style="width: 70px;"
                  />
                  <input
                    type="text"
                    class="votes"
                    name=""
                    id="S"
                    readonly
                    value="D"
                    style="width: 70px;"
                  />
                  <input
                    type="text"
                    class="votes"
                    name=""
                    id="E"
                    readonly
                    value="D"
                    style="width: 70px;"
                  />
                  <input
                    type="text"
                    class="votes"
                    name=""
                    id="W"
                    readonly
                    value="C"
                    style="width: 70px;"
                  />
                </div>
              </div>
              <hr />
              <h6 class="text-center my-2">Bonus || Penalty</h6> -->
    <!-- Bonus/Penalty : Admin Choice-->
    <!-- <div
                class="row text-center"
                style="width: fit-content; margin: 10px auto;"
              >
                <label class="switch">
                  <input type="checkbox" value="1" />
                  <span class="slider round"></span>
                </label>
                <label class="switch">
                  <input type="checkbox" value="2" />
                  <span class="slider round"></span>
                </label>
                <label class="switch">
                  <input type="checkbox" value="3" />
                  <span class="slider round"></span>
                </label>
                <label class="switch">
                  <input type="checkbox" value="4" />
                  <span class="slider round"></span>
                </label>
              </div>
              <hr />
              <div
                class="row text-center"
                style="width: fit-content; margin: 10px auto;"
              >
                <input
                  type="text"
                  class="votes"
                  name=""
                  id="bonus"
                  placeholder="BONUS"
                  style="width: 130px;"
                />
                <input
                  type="text"
                  class="votes"
                  name=""
                  id="penalty"
                  placeholder="PENALTY"
                  style="width: 130px;"
                />
              </div>
              <a
                href="#"
                class="btn btn-primary btn-lg"
                style="font-family: 'Baloo 2', cursive;"
                >Publish!</a
              >
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <div class="container">
      <div class="row mx-auto my-3">
        <!-- game stats table section -->
        <div
          class="col"
          style="
            border: 1px solid blueviolet;
            padding: 10px 10px;
            border-radius: 15px;
          "
        >
          <h5
            class="card-header display-4 text-center mb-2"
            style="color: darkmagenta; border-radius: 15px;"
          >
            Game Stats
          </h5>
          <!-- table showing Game stats so far.. -->
          <div class="table-responsive text-center table-bordered">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" class="align-middle" rowspan="2">Month</th>
                  <th scope="col" colspan="3">North</th>
                  <th scope="col" colspan="3">East</th>
                  <th scope="col" colspan="3">West</th>
                  <th scope="col" colspan="3">South</th>
                </tr>
                <tr>
                  <th>Vote</th>
                  <th>Result</th>
                  <th>Remarks</th>
                  <th>Vote</th>
                  <th>Result</th>
                  <th>Remarks</th>
                  <th>Vote</th>
                  <th>Result</th>
                  <th>Remarks</th>
                  <th>Vote</th>
                  <th>Result</th>
                  <th>Remarks</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Game Summary section -->
    <div
      class="container"
      style="border: 1px solid blueviolet; border-radius: 15px;"
    >
      <h5
        class="card-header text-center display-4 my-2"
        style="color: darkmagenta; border-radius: 15px;"
      >
        Game Summary
      </h5>

      <div class="gameStat even-flex">
        <div class="trophy-image">
          <img
            src="/img/wnr.jpg"
            alt="winner"
            style="width: 150px; height: 150px; border-radius: 50%;"
          />
        </div>
        <div class="stat-content my-auto">
          <h3>
            <a class="display-4 mr-2 ml-2" id="leading">North </a> Leading...
          </h3>
          <h3>
            with remaining amount
            <a class="ml-2 display-4" id="leadAmount" style="font-size: 1.5em;"
              >150</a
            >
            millions
          </h3>
        </div>
      </div>
      <hr />

      <div class="game-summary-table px-3 mx-auto mb-3">
        <div class="row">
          <div class="col bdr">
            <div class="row even-flex">
              <h3>North</h3>
            </div>
            <div class="row even-flex">
              <h5>
                Balance:
                <a
                  class="mx-auto display-4"
                  id="northBal"
                  style="font-size: 1.2em;"
                  >150</a
                >
                millions
              </h5>
            </div>
          </div>
          <div class="col bdr">
            <div class="row even-flex">
              <h3>East</h3>
            </div>
            <div class="row even-flex">
              <h5>
                Balance:
                <a
                  class="mx-auto display-4"
                  id="eastBal"
                  style="font-size: 1.2em;"
                  >140</a
                >
                millions
              </h5>
            </div>
          </div>
          <div class="col bdr">
            <div class="row even-flex">
              <h3>West</h3>
            </div>
            <div class="row even-flex">
              <h5>
                Balance:
                <a
                  class="mx-auto display-4"
                  id="westBal"
                  style="font-size: 1.2em;"
                  >133</a
                >
                millions
              </h5>
            </div>
          </div>
          <div class="col bdr">
            <div class="row even-flex">
              <h3>South</h3>
            </div>
            <div class="row even-flex">
              <h5>
                Balance:
                <a
                  class="mx-auto display-4"
                  id="southBal"
                  style="font-size: 1.2em;"
                  >145</a
                >
                millions
              </h5>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="row">
        <div class="col-md-4">
          <div
            style="
              width: 200px;
              height: 200px;
              border: 1px solid rebeccapurple;
              border-radius: 115px;
              background-color: blueviolet;
              margin: 0 auto;
            "
          >
            <div class="col">
              <img
                src="/img/wnr.jpg"
                alt="winner"
                style="width: 150px; height: 150px; border-radius: 50%;"
              />
            </div>
          </div>
        </div>
        <div class="col-md-7 text-center" style="margin: auto auto;">
          <input
            type="text"
            class="votes"
            name=""
            id="leadingTeam"
            readonly
            value="C"
            style="text-align: center;"
          />
          <label for="">Leads With..</label>
          <input
            type="text"
            class="votes"
            name=""
            id="leadingBalance"
            readonly
            value="202 ml"
            style="text-align: center;"
          />
          <label for="">Balance!</label>
        </div>
      </div> -->

      <!-- <div
        class="row text-center"
        style="
          border: 1px solid blueviolet;
          width: fit-content;
          margin: 5px auto;
          border-radius: 15px;
          padding: 5px 10px 5px 10px;
        "
      >
        <div class="col-md-2" style="margin: 0 auto;">
          <label for=""><h3>N</h3></label><br />
          <input
            type="text"
            class="votes"
            name=""
            id="summaryN"
            readonly
            value="200"
            style="width: 80px;"
          />
        </div>
        <div class="col-md-2" style="margin: 0 auto;">
          <label for=""><h3>S</h3></label><br />
          <input
            type="text"
            class="votes"
            name=""
            id="summaryS"
            readonly
            value="198"
            style="width: 80px;"
          />
        </div>
        <div class="col-md-2" style="margin: 0 auto;">
          <label for=""><h3>E</h3></label><br />
          <input
            type="text"
            class="votes"
            name=""
            id="summaryE"
            readonly
            value="185"
            style="width: 80px;"
          />
        </div>
        <div class="col-md-2" style="margin: 0 auto;">
          <label for=""><h3>W</h3></label><br />
          <input
            type="text"
            class="votes"
            name=""
            id="summaryW"
            readonly
            value="192"
            style="width: 80px;"
          />
        </div>
      </div> -->
    </div>
    <!-- To End The Current Game -->
    <div class="my-3 even-flex">
      <button class="btn btn-lg btn-danger">End Game</button>
      <button class="btn btn-lg btn-primary">Restart Game</button>
    </div>

    <!-- Footer starts here -->
    <footer></footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
    <script src="/js/admin.js"></script>
  </body>
</html>
