<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard | Yamuni</title>

    <link rel="stylesheet" href="/css/team.css" />
    <link rel="stylesheet" href="/css/admin.css" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&family=Berkshire+Swash&family=Cairo:wght@400;900&family=Gayathri&family=Indie+Flower&family=Titan+One&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Grenze+Gotisch:wght@700&family=Just+Another+Hand&family=Lobster&family=Montserrat:wght@400;600;700&family=Piedra&family=Poppins:wght@400;600;700&family=Quicksand:wght@500&family=Russo+One&family=Rye&display=swap"
    />
  </head>
  <body onload="gameCheck()">
    <!-- nav -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand font-weight-bold" href="#">YAMUNI</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link font-weight-bold" href="#"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item active">
            <a class="nav-link font-weight-bold" href="#">Game</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <a
            class="nav-link font-weight-bold my-2 my-sm-0"
            href="/"
            onclick="logout()"
            >Log Out</a
          >
          <!-- <button class="btn btn-success my-2 my-sm-0 font-weight-bold" type="submit">Login</button> -->
        </form>
      </div>
    </nav>

    <div class="container mt-5 game-controller">
      <h1 class="display-4 text-center controller-heading mb-5">
        Game Controller
      </h1>
      <!-- instructions -->
      <button
        type="button"
        class="btn instructions"
        data-toggle="modal"
        data-target="#exampleModalScrollable"
      >
        <h3>Instructions</h3>
      </button>

      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModalScrollable"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalScrollableTitle"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-scrollable" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h6 class="modal-title" id="exampleModalScrollableTitle">
                Instructions
              </h6>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-justify">
              You are required to send a message C or D to the World Bank every
              month. Depending on the following rules, the Bank will either give
              you funds during that month or ask you to contribute a specific
              sum from your resources. Sometimes the World Bank may have
              additional funds and this information will be announced in
              advance.
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <!-- <button type="button" class="btn btn-primary">
                    Save changes
                  </button> -->
            </div>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table
          class="table table-bordered table-striped table-hover text-center"
        >
          <thead>
            <tr>
              <th scope="col">Months</th>
              <th scope="col">
                Month Activator
              </th>
              <th scope="col">North</th>
              <th scope="col">East</th>
              <th scope="col">West</th>
              <th scope="col">South</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">January</th>
              <td><input type="checkbox" name="activator" id="actJan" /></td>
              <td id="nJan"></td>
              <td id="eJan"></td>
              <td id="wJan"></td>
              <td id="sJan"></td>
            </tr>
            <tr>
              <th scope="row">February</th>
              <td><input type="checkbox" name="activator" id="actFeb" /></td>
              <td id="nFeb"></td>
              <td id="eFeb"></td>
              <td id="wFeb"></td>
              <td id="sFeb"></td>
            </tr>
            <tr>
              <th scope="row">March</th>
              <td><input type="checkbox" name="activator" id="actMar" /></td>
              <td id="nMar"></td>
              <td id="eMar"></td>
              <td id="wMar"></td>
              <td id="sMar"></td>
            </tr>
            <tr>
              <th scope="row">April</th>
              <td><input type="checkbox" name="activator" id="actApr" /></td>
              <td id="nApr"></td>
              <td id="eApr"></td>
              <td id="wApr"></td>
              <td id="sApr"></td>
            </tr>
            <tr>
              <th scope="row">May</th>
              <td><input type="checkbox" name="activator" id="actMay" /></td>
              <td id="nMay"></td>
              <td id="eMay"></td>
              <td id="wMay"></td>
              <td id="sMay"></td>
            </tr>
            <tr>
              <th scope="row">June</th>
              <td><input type="checkbox" name="activator" id="actJun" /></td>
              <td id="nJun"></td>
              <td id="eJun"></td>
              <td id="wJun"></td>
              <td id="sJun"></td>
            </tr>
            <tr>
              <th scope="row">July</th>
              <td><input type="checkbox" name="activator" id="actJul" /></td>
              <td id="nJul"></td>
              <td id="eJul"></td>
              <td id="wJul"></td>
              <td id="sJul"></td>
            </tr>
            <tr>
              <th scope="row">August</th>
              <td><input type="checkbox" name="activator" id="actAug" /></td>
              <td id="nAug"></td>
              <td id="eAug"></td>
              <td id="wAug"></td>
              <td id="sAug"></td>
            </tr>
            <tr>
              <th scope="row">September</th>
              <td><input type="checkbox" name="activator" id="actSep" /></td>
              <td id="nSep"></td>
              <td id="eSep"></td>
              <td id="wSep"></td>
              <td id="sSep"></td>
            </tr>
            <tr>
              <th scope="row">October</th>
              <td><input type="checkbox" name="activator" id="actOct" /></td>
              <td id="nOct"></td>
              <td id="eOct"></td>
              <td id="wOct"></td>
              <td id="sOct"></td>
            </tr>
            <tr>
              <th scope="row">November</th>
              <td><input type="checkbox" name="activator" id="actNov" /></td>
              <td id="nNov"></td>
              <td id="eNov"></td>
              <td id="wNov"></td>
              <td id="sNov"></td>
            </tr>
            <tr>
              <th scope="row">December</th>
              <td><input type="checkbox" name="activator" id="actDec" /></td>
              <td id="nDec"></td>
              <td id="eDec"></td>
              <td id="wDec"></td>
              <td id="sDec"></td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Activators -->
      <div class="even-flex my-3">
        <button class="btn btn-primary btn-lg">Activate Months</button>
        <button class="btn btn-success btn-lg">Publish Months</button>
      </div>

      <!-- Bonus-Penalty table  -->
      <div class="bonus-penalty-adder table-responsive">
        <h3 class="display-4 text-center remark-heading">Remarks</h3>
        <table
          class="table table-bordered table-striped table-hover text-center"
        >
          <!-- <caption class="display-4 font-weight-bold">Remarks</caption> -->
          <thead>
            <tr>
              <th scope="col" class="align-middle" rowspan="2">Months</th>
              <th scope="col" class="align-middle" rowspan="2">
                Month Activator
              </th>
              <th scope="col" colspan="2">North</th>
              <th scope="col" colspan="2">East</th>
              <th scope="col" colspan="2">West</th>
              <th scope="col" colspan="2">South</th>
            </tr>
            <tr>
              <th scope="col">Vote</th>
              <th scope="col">Remark</th>
              <th scope="col">Vote</th>
              <th scope="col">Remark</th>
              <th scope="col">Vote</th>
              <th scope="col">Remark</th>
              <th scope="col">Vote</th>
              <th scope="col">Remark</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">January</th>
              <td><input type="checkbox" name="activator" id="actJanBP" /></td>
              <td id="northVoteJan"></td>
              <td id="nJanBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td id="eastVoteJan"></td>
              <td id="eJanBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td id="westVoteJan"></td>
              <td id="wJanBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td id="southVoteJan"></td>
              <td id="sJanBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
            </tr>
            <tr>
              <th scope="row">February</th>
              <td><input type="checkbox" name="activator" id="actFebBP" /></td>
              <td id="northVoteFeb"></td>
              <td id="nFebBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td id="eastVoteFeb"></td>
              <td id="eFebBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td id="westVoteFeb"></td>
              <td id="wFebBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td id="southVoteFeb"></td>
              <td id="sFebBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
            </tr>
            <tr>
              <th scope="row">March</th>
              <td><input type="checkbox" name="activator" id="actMarBP" /></td>
              <td id="northVoteMar"></td>
              <td id="nMarBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td id="eastVoteMar"></td>
              <td id="eMarBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td id="westVoteMar"></td>
              <td id="wMarBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td id="southVoteApr"></td>
              <td id="sMarBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
            </tr>
            <tr>
              <th scope="row">April</th>
              <td><input type="checkbox" name="activator" id="actAprBP" /></td>
              <td id="northVoteApr"></td>
              <td id="nAprBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td id="eastVoteApr"></td>
              <td id="eAprBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td id="westVoteApr"></td>
              <td id="wAprBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td id="southVoteApr"></td>
              <td id="sAprBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
            </tr>
            <tr>
              <th scope="row">May</th>
              <td><input type="checkbox" name="activator" id="actMayBP" /></td>
              <td id="northVoteMay"></td>
              <td id="nMayBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td id="eastVoteMay"></td>
              <td id="eMayBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td id="westVoteMay"></td>
              <td id="wMayBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td id="southVoteMay"></td>
              <td id="sMayBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
            </tr>
            <tr>
              <th scope="row">June</th>
              <td><input type="checkbox" name="activator" id="actJunBP" /></td>
              <td id="northVoteJun"></td>
              <td id="nJunBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td id="eastVoteJun"></td>
              <td id="eJunBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td id="westVoteJun"></td>
              <td id="wJunBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td id="southVoteJun"></td>
              <td id="sJunBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
            </tr>
            <tr>
              <th scope="row">July</th>
              <td><input type="checkbox" name="activator" id="actJulBP" /></td>
              <td id="northVoteJul"></td>
              <td id="nJulBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td id="eastVoteJul"></td>
              <td id="eJulBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td id="westVoteJul"></td>
              <td id="wJulBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td id="southVoteJul"></td>
              <td id="sJulBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
            </tr>

            <tr>
              <th scope="row">August</th>
              <td><input type="checkbox" name="activator" id="actAugBP" /></td>
              <td id="northVoteAug"></td>
              <td id="nAugBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td id="eastVoteAug"></td>
              <td id="eAugBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td id="westVoteAug"></td>
              <td id="wAugBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td id="southVoteAug"></td>
              <td id="sAugBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
            </tr>
            <tr>
              <th scope="row">September</th>
              <td><input type="checkbox" name="activator" id="actSepBP" /></td>
              <td id="northVoteSep"></td>
              <td id="nSepBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td id="eastVoteSep"></td>
              <td id="eSepBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td id="westVoteSep"></td>
              <td id="wSepBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td id="southVoteSep"></td>
              <td id="sSepBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
            </tr>
            <tr>
              <th scope="row">October</th>
              <td><input type="checkbox" name="activator" id="actOctBP" /></td>
              <td id="northVoteOct"></td>
              <td id="nOctBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td id="eastVoteOct"></td>
              <td id="eOctBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td id="westVoteOct"></td>
              <td id="wOctBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td id="southVoteOct"></td>
              <td id="sOctBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
            </tr>
            <tr>
              <th scope="row">November</th>
              <td><input type="checkbox" name="activator" id="actNovBP" /></td>
              <td id="northVoteNov"></td>
              <td id="nNovBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td id="eastVoteNov"></td>
              <td id="eNovBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td id="westVoteNov"></td>
              <td id="wNovBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td id="southVoteNov"></td>
              <td id="sNovBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
            </tr>
            <tr>
              <th scope="row">December</th>
              <td><input type="checkbox" name="activator" id="actDecBP" /></td>
              <td id="northVoteDec"></td>
              <td id="nDecBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td id="eastVoteDec"></td>
              <td id="eDecBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td id="westVoteDec"></td>
              <td id="wDecBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td id="southVoteDec"></td>
              <td id="sDecBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Activators -->
      <div class="even-flex my-3">
        <button class="btn btn-primary btn-lg">Activate Months</button>
      </div>

      <!-- Bonus-Penalty Dropdown -->
      <div class="BP-dropdown">
        <form action="" class="was-validated">
          <div class="form-group even-flex">
            <h3 for="bonusValue">Bonus:</h3>
            <select
              class="custom-select h-50 text-muted text-center mx-3"
              id="selectedBonusValue"
              required
            >
              <option value="">Select a Value</option>
              <option value="0">0</option>
              <option value="20000">20,000</option>
              <option value="30000">30,000</option>
              <option value="40000">40,000</option>
              <option value="50000">50,000</option>
            </select>
            <h3 for="penaltyValue">Penalty:</h3>
            <select
              class="custom-select h-50 text-muted text-center ml-3"
              id="selectedPenaltyValue"
              required
            >
              <option value="">Select a Value</option>
              <option value="0">0</option>
              <option value="20000">20,000</option>
              <option value="30000">30,000</option>
              <option value="40000">40,000</option>
              <option value="50000">50,000</option>
            </select>
            <!-- <div class="invalid-feedback font-weight-bold mt-n2">Invalid option</div> -->
          </div>
          <div class="mx-auto text-center">
            <button class="btn btn-lg btn-success mb-3" type="submit">
              Add Remarks
            </button>
          </div>
        </form>
      </div>
    </div>

    <!-- <div class="container">
      <div class="row"> -->
    <!-- game setup section -->
    <!-- <div
          class="col-md-5 mx-auto py-3"
          style="
            border: 1px solid blueviolet;
            border-radius: 15px;
            margin-top: 5px;
          "
        >
          <div class="text-center">
            <h5
              class="card-header"
              style="
                font-family: 'Baloo 2', cursive;
                color: darkmagenta;
                border-radius: 15px;
              "
            >
              Game-Setup
            </h5>
            <div class="card-body">

              <form class="was-validated">
                <div class="form-group">
                  <div class="col-md">
                    <select
                      class="custom-select selectmonth"
                      multiple="multiple"
                      size="4"
                      required
                    >
                      <option value="January">January</option>
                      <option value="February">February</option>
                      <option value="March">March</option>
                      <option value="April">April</option>
                      <option value="May">May</option>
                      <option value="June">June</option>
                      <option value="July">July</option>
                      <option value="August">August</option>
                      <option value="September">September</option>
                      <option value="October">October</option>
                      <option value="November">November</option>
                      <option value="December">December</option>
                    </select>
                  </div> -->
    <!-- to activate the month for playing -->
    <!-- <button
                    type="submit"
                    class="btn btn-group-sm btn-success mt-2"
                    style="font-family: 'Baloo 2', cursive;"
                  >
                    Activate
                  </button>
                </div>
              </form>
              <hr /> -->
    <!-- Dropdown disable function -->
    <!-- <script type="text/javascript">
                $(function () {
                  $(".selectmonth").selected({});
                });
              </script> -->

    <!--Team Votes Area-->
    <!-- <div id="teamVote">
                <h4 id="month">January</h4>
                <div class="team-n evenly-flex mx-auto">
                  <label for="north">North</label>
                  <label for="east">East</label>
                  <label for="west">West</label>
                  <label for="south">South</label>
                </div> -->
    <!--Team Votes From DB-->
    <!-- <div
                  class="row text-center mx-auto"
                  style="width: fit-content;"
                >
                  <input
                    type="text"
                    class="votes"
                    name=""
                    id="N"
                    readonly
                    value="C"
                    style="width: 70px;"
                  />
                  <input
                    type="text"
                    class="votes"
                    name=""
                    id="S"
                    readonly
                    value="D"
                    style="width: 70px;"
                  />
                  <input
                    type="text"
                    class="votes"
                    name=""
                    id="E"
                    readonly
                    value="D"
                    style="width: 70px;"
                  />
                  <input
                    type="text"
                    class="votes"
                    name=""
                    id="W"
                    readonly
                    value="C"
                    style="width: 70px;"
                  />
                </div>
              </div>
              <hr />
              <h6 class="text-center my-2">Bonus || Penalty</h6> -->
    <!-- Bonus/Penalty : Admin Choice-->
    <!-- <div
                class="row text-center"
                style="width: fit-content; margin: 10px auto;"
              >
                <label class="switch">
                  <input type="checkbox" value="1" />
                  <span class="slider round"></span>
                </label>
                <label class="switch">
                  <input type="checkbox" value="2" />
                  <span class="slider round"></span>
                </label>
                <label class="switch">
                  <input type="checkbox" value="3" />
                  <span class="slider round"></span>
                </label>
                <label class="switch">
                  <input type="checkbox" value="4" />
                  <span class="slider round"></span>
                </label>
              </div>
              <hr />
              <div
                class="row text-center"
                style="width: fit-content; margin: 10px auto;"
              >
                <input
                  type="text"
                  class="votes"
                  name=""
                  id="bonus"
                  placeholder="BONUS"
                  style="width: 130px;"
                />
                <input
                  type="text"
                  class="votes"
                  name=""
                  id="penalty"
                  placeholder="PENALTY"
                  style="width: 130px;"
                />
              </div>
              <a
                href="#"
                class="btn btn-primary btn-lg"
                style="font-family: 'Baloo 2', cursive;"
                >Publish!</a
              >
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <div class="container">
      <div class="row mx-auto my-3">
        <!-- game stats table section -->
        <div
          class="col"
          style="
            border: 1px solid blueviolet;
            padding: 10px 10px;
            border-radius: 15px;
          "
        >
          <h5
            class="card-header display-4 text-center mb-2"
            style="color: darkmagenta; border-radius: 15px;"
          >
            Game Stats
          </h5>
          <!-- table showing Game stats so far.. -->
          <div class="table-responsive text-center table-bordered">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" class="align-middle" rowspan="2">Month</th>
                  <th scope="col" colspan="3">North</th>
                  <th scope="col" colspan="3">East</th>
                  <th scope="col" colspan="3">West</th>
                  <th scope="col" colspan="3">South</th>
                </tr>
                <tr>
                  <th>Vote</th>
                  <th>Result</th>
                  <th>Remarks</th>
                  <th>Vote</th>
                  <th>Result</th>
                  <th>Remarks</th>
                  <th>Vote</th>
                  <th>Result</th>
                  <th>Remarks</th>
                  <th>Vote</th>
                  <th>Result</th>
                  <th>Remarks</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Game Summary section -->
    <div
      class="container"
      style="border: 1px solid blueviolet; border-radius: 15px;"
    >
      <h5
        class="card-header text-center display-4 my-2"
        style="color: darkmagenta; border-radius: 15px;"
      >
        Game Summary
      </h5>

      <div class="gameStat even-flex">
        <div class="trophy-image">
          <img
            src="/img/wnr.jpg"
            alt="winner"
            style="width: 150px; height: 150px; border-radius: 50%;"
          />
        </div>
        <div class="stat-content my-auto">
          <h3>
            <a class="display-4 mr-2 ml-2" id="leading">North </a> Leading...
          </h3>
          <h3>
            with remaining amount
            <a class="ml-2 display-4" id="leadAmount" style="font-size: 1.5em;"
              >150</a
            >
            millions
          </h3>
        </div>
      </div>
      <hr />

      <div class="game-summary-table px-3 mx-auto mb-3">
        <div class="row">
          <div class="col bdr">
            <div class="row even-flex">
              <h3>North</h3>
            </div>
            <div class="row even-flex">
              <h5>
                Balance:
                <a
                  class="mx-auto display-4"
                  id="northBal"
                  style="font-size: 1.2em;"
                  >150</a
                >
                millions
              </h5>
            </div>
          </div>
          <div class="col bdr">
            <div class="row even-flex">
              <h3>East</h3>
            </div>
            <div class="row even-flex">
              <h5>
                Balance:
                <a
                  class="mx-auto display-4"
                  id="eastBal"
                  style="font-size: 1.2em;"
                  >140</a
                >
                millions
              </h5>
            </div>
          </div>
          <div class="col bdr">
            <div class="row even-flex">
              <h3>West</h3>
            </div>
            <div class="row even-flex">
              <h5>
                Balance:
                <a
                  class="mx-auto display-4"
                  id="westBal"
                  style="font-size: 1.2em;"
                  >133</a
                >
                millions
              </h5>
            </div>
          </div>
          <div class="col bdr">
            <div class="row even-flex">
              <h3>South</h3>
            </div>
            <div class="row even-flex">
              <h5>
                Balance:
                <a
                  class="mx-auto display-4"
                  id="southBal"
                  style="font-size: 1.2em;"
                  >145</a
                >
                millions
              </h5>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="row">
        <div class="col-md-4">
          <div
            style="
              width: 200px;
              height: 200px;
              border: 1px solid rebeccapurple;
              border-radius: 115px;
              background-color: blueviolet;
              margin: 0 auto;
            "
          >
            <div class="col">
              <img
                src="/img/wnr.jpg"
                alt="winner"
                style="width: 150px; height: 150px; border-radius: 50%;"
              />
            </div>
          </div>
        </div>
        <div class="col-md-7 text-center" style="margin: auto auto;">
          <input
            type="text"
            class="votes"
            name=""
            id="leadingTeam"
            readonly
            value="C"
            style="text-align: center;"
          />
          <label for="">Leads With..</label>
          <input
            type="text"
            class="votes"
            name=""
            id="leadingBalance"
            readonly
            value="202 ml"
            style="text-align: center;"
          />
          <label for="">Balance!</label>
        </div>
      </div> -->

      <!-- <div
        class="row text-center"
        style="
          border: 1px solid blueviolet;
          width: fit-content;
          margin: 5px auto;
          border-radius: 15px;
          padding: 5px 10px 5px 10px;
        "
      >
        <div class="col-md-2" style="margin: 0 auto;">
          <label for=""><h3>N</h3></label><br />
          <input
            type="text"
            class="votes"
            name=""
            id="summaryN"
            readonly
            value="200"
            style="width: 80px;"
          />
        </div>
        <div class="col-md-2" style="margin: 0 auto;">
          <label for=""><h3>S</h3></label><br />
          <input
            type="text"
            class="votes"
            name=""
            id="summaryS"
            readonly
            value="198"
            style="width: 80px;"
          />
        </div>
        <div class="col-md-2" style="margin: 0 auto;">
          <label for=""><h3>E</h3></label><br />
          <input
            type="text"
            class="votes"
            name=""
            id="summaryE"
            readonly
            value="185"
            style="width: 80px;"
          />
        </div>
        <div class="col-md-2" style="margin: 0 auto;">
          <label for=""><h3>W</h3></label><br />
          <input
            type="text"
            class="votes"
            name=""
            id="summaryW"
            readonly
            value="192"
            style="width: 80px;"
          />
        </div>
      </div> -->
    </div>
    <!-- To End The Current Game -->
    <div class="my-3 even-flex">
      <button class="btn btn-lg btn-danger">End Game</button>
      <button class="btn btn-lg btn-primary">Restart Game</button>
    </div>

    <!-- Footer starts here -->
    <footer></footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
    <script src="/js/admin.js"></script>
  </body>
</html>
