<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard | Yamuni</title>

    <link rel="stylesheet" href="/css/team.css" />
    <link rel="stylesheet" href="/css/admin.css" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&family=Berkshire+Swash&family=Cairo:wght@400;900&family=Gayathri&family=Indie+Flower&family=Titan+One&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Grenze+Gotisch:wght@700&family=Just+Another+Hand&family=Lobster&family=Montserrat:wght@400;600;700&family=Piedra&family=Poppins:wght@400;600;700&family=Quicksand:wght@500&family=Russo+One&family=Rye&display=swap"
    />
  </head>
  <body onload="teamStats(),gameCheck()">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand font-weight-bold" href="#">YAMUNI</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link font-weight-bold" href="#"
              >Game Admin<span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight-bold" href="/scoreboard"
              >Scoreboard</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight-bold" href="/doc"
              >Documentation</a
            >
          </li>
        </ul>
        <form class="form-inline my-lg-0">
          <a class="nav-link font-weight-bold ml-n3" href="/" onclick="logout()"
            >Log Out</a
          >
          <!-- <button class="btn btn-success my-2 my-sm-0 font-weight-bold" type="submit">Login</button> -->
        </form>
      </div>
    </nav>

    <!-- Game Controller -->
    <div class="container mt-5 game-controller">
      <h1
        class="display-4 text-center controller-heading mb-5"
        style="color: whitesmoke"
      >
        Game Controller
      </h1>
      <!-- instructions -->
      <button
        type="button"
        class="btn instructions mt-n5 float-right"
        data-toggle="modal"
        data-target="#exampleModalScrollable"
      >
        <h3>Instructions</h3>
      </button>

      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModalScrollable"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalScrollableTitle"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-scrollable" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h6 class="modal-title" id="exampleModalScrollableTitle">
                Instructions
              </h6>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p class="text-justify">
                You are required to send a message C or D to the World Bank
                every month. Depending on the following rules, the Bank will
                either give you funds during that month or ask you to contribute
                a specific sum from your resources. Sometimes the World Bank may
                have additional funds and this information will be announced in
                advance.
              </p>
              <hr />
              <h5 class="text-center font-weight-bold">
                Rules of Payoff Distribution
              </h5>
              <table
                class="table-sm text-center table-bordered table-responsive"
              >
                <thead>
                  <tr>
                    <th scope="col">No. Of C Messages</th>
                    <th scope="col">No. Of D Messages</th>
                    <th scope="col">Payoff for C Messages</th>
                    <th scope="col">Payoff for C Messages</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>4</td>
                    <td>-</td>
                    <td>Will get Rs. 1 million each</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>1</td>
                    <td>Will contribute Rs. 1 million each</td>
                    <td>Will get Rs. 3 million each</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>2</td>
                    <td>Will contribute Rs. 2 million each</td>
                    <td>Will get Rs. 2 million each</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>3</td>
                    <td>Will contribute Rs. 3 million each</td>
                    <td>Will get Rs. 1 million each</td>
                  </tr>
                  <tr>
                    <td>-</td>
                    <td>4</td>
                    <td>-</td>
                    <td>Will contribute Rs. 1 million each</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <!-- <button type="button" class="btn btn-primary">
                    Save changes
                  </button> -->
            </div>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table
          class="table table-bordered table-striped table-dark table-hover text-center"
        >
          <thead>
            <tr>
              <th scope="col">Months</th>
              <th scope="col">Month Activator</th>
              <th scope="col">North</th>
              <th scope="col">East</th>
              <th scope="col">West</th>
              <th scope="col">South</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">January</th>
              <td><input type="checkbox" name="activator" id="actJan" /></td>
              <td id="nJan"></td>
              <td id="eJan"></td>
              <td id="wJan"></td>
              <td id="sJan"></td>
            </tr>
            <tr>
              <th scope="row">February</th>
              <td><input type="checkbox" name="activator" id="actFeb" /></td>
              <td id="nFeb"></td>
              <td id="eFeb"></td>
              <td id="wFeb"></td>
              <td id="sFeb"></td>
            </tr>
            <tr>
              <th scope="row">March (x3)</th>
              <td><input type="checkbox" name="activator" id="actMar" /></td>
              <td id="nMar"></td>
              <td id="eMar"></td>
              <td id="wMar"></td>
              <td id="sMar"></td>
            </tr>
            <tr>
              <th scope="row">April</th>
              <td><input type="checkbox" name="activator" id="actApr" /></td>
              <td id="nApr"></td>
              <td id="eApr"></td>
              <td id="wApr"></td>
              <td id="sApr"></td>
            </tr>
            <tr>
              <th scope="row">May (x4)</th>
              <td><input type="checkbox" name="activator" id="actMay" /></td>
              <td id="nMay"></td>
              <td id="eMay"></td>
              <td id="wMay"></td>
              <td id="sMay"></td>
            </tr>
            <tr>
              <th scope="row">June</th>
              <td><input type="checkbox" name="activator" id="actJun" /></td>
              <td id="nJun"></td>
              <td id="eJun"></td>
              <td id="wJun"></td>
              <td id="sJun"></td>
            </tr>
            <tr>
              <th scope="row">July</th>
              <td><input type="checkbox" name="activator" id="actJul" /></td>
              <td id="nJul"></td>
              <td id="eJul"></td>
              <td id="wJul"></td>
              <td id="sJul"></td>
            </tr>
            <tr>
              <th scope="row">August (x6)</th>
              <td><input type="checkbox" name="activator" id="actAug" /></td>
              <td id="nAug"></td>
              <td id="eAug"></td>
              <td id="wAug"></td>
              <td id="sAug"></td>
            </tr>
            <tr>
              <th scope="row">September</th>
              <td><input type="checkbox" name="activator" id="actSep" /></td>
              <td id="nSep"></td>
              <td id="eSep"></td>
              <td id="wSep"></td>
              <td id="sSep"></td>
            </tr>
            <tr>
              <th scope="row">October (x10)</th>
              <td><input type="checkbox" name="activator" id="actOct" /></td>
              <td id="nOct"></td>
              <td id="eOct"></td>
              <td id="wOct"></td>
              <td id="sOct"></td>
            </tr>
            <tr>
              <th scope="row">November</th>
              <td><input type="checkbox" name="activator" id="actNov" /></td>
              <td id="nNov"></td>
              <td id="eNov"></td>
              <td id="wNov"></td>
              <td id="sNov"></td>
            </tr>
            <tr>
              <th scope="row">December (x20)</th>
              <td><input type="checkbox" name="activator" id="actDec" /></td>
              <td id="nDec"></td>
              <td id="eDec"></td>
              <td id="wDec"></td>
              <td id="sDec"></td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Activators -->
      <div class="even-flex my-3">
        <button
          class="btn btn-primary btn-lg"
          disabled
          id="activateMonthBtn"
          onclick="activateMonths()"
        >
          Activate Months
        </button>
        <button
          class="btn btn-success btn-lg"
          disabled
          id="publishMonthBtn"
          onclick="publishMonths()"
        >
          Publish Months
        </button>
      </div>

      <!-- Bonus-Penalty table  -->
      <div class="bonus-penalty-adder table-responsive">
        <h3
          class="display-4 text-center remark-heading"
          style="color: whitesmoke"
        >
          Remarks
        </h3>
        <table
          class="table table-bordered table-striped table-dark table-hover table-sm text-center"
        >
          <!-- <caption class="display-4 font-weight-bold">Remarks</caption> -->
          <thead>
            <tr>
              <th scope="col" class="align-middle" rowspan="2">Months</th>
              <th scope="col" class="align-middle" rowspan="2">
                Month Activator
              </th>
              <th scope="col" colspan="2">North</th>
              <th scope="col" colspan="2">East</th>
              <th scope="col" colspan="2">West</th>
              <th scope="col" colspan="2">South</th>
            </tr>
            <tr>
              <th scope="col">Vote</th>
              <th scope="col">Remark</th>
              <th scope="col">Vote</th>
              <th scope="col">Remark</th>
              <th scope="col">Vote</th>
              <th scope="col">Remark</th>
              <th scope="col">Vote</th>
              <th scope="col">Remark</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="align-middle" scope="row">January</th>
              <td class="align-middle">
                <input
                  type="checkbox"
                  class="bpChecks"
                  name="activator"
                  id="actJanBP"
                  disabled
                />
              </td>
              <td class="align-middle" id="northVoteJan"></td>
              <td id="nJanBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td class="align-middle" id="eastVoteJan"></td>
              <td id="eJanBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td class="align-middle" id="westVoteJan"></td>
              <td id="wJanBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td class="align-middle" id="southVoteJan"></td>
              <td id="sJanBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
            </tr>
            <tr>
              <th class="align-middle" scope="row">February</th>
              <td class="align-middle">
                <input
                  type="checkbox"
                  class="bpChecks"
                  name="activator"
                  id="actFebBP"
                  disabled
                />
              </td>
              <td class="align-middle" id="northVoteFeb"></td>
              <td id="nFebBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td class="align-middle" id="eastVoteFeb"></td>
              <td id="eFebBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td class="align-middle" id="westVoteFeb"></td>
              <td id="wFebBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td class="align-middle" id="southVoteFeb"></td>
              <td id="sFebBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
            </tr>
            <tr>
              <th class="align-middle" scope="row">March</th>
              <td class="align-middle">
                <input
                  type="checkbox"
                  class="bpChecks"
                  name="activator"
                  id="actMarBP"
                  disabled
                />
              </td>
              <td class="align-middle" id="northVoteMar"></td>
              <td id="nMarBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td class="align-middle" id="eastVoteMar"></td>
              <td id="eMarBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td class="align-middle" id="westVoteMar"></td>
              <td id="wMarBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td class="align-middle" id="southVoteMar"></td>
              <td id="sMarBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
            </tr>
            <tr>
              <th class="align-middle" scope="row">April</th>
              <td class="align-middle">
                <input
                  type="checkbox"
                  class="bpChecks"
                  name="activator"
                  id="actAprBP"
                  disabled
                />
              </td>
              <td class="align-middle" id="northVoteApr"></td>
              <td id="nAprBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td class="align-middle" id="eastVoteApr"></td>
              <td id="eAprBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td class="align-middle" id="westVoteApr"></td>
              <td id="wAprBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td class="align-middle" id="southVoteApr"></td>
              <td id="sAprBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
            </tr>
            <tr>
              <th class="align-middle" scope="row">May</th>
              <td class="align-middle">
                <input
                  type="checkbox"
                  class="bpChecks"
                  name="activator"
                  id="actMayBP"
                  disabled
                />
              </td>
              <td class="align-middle" id="northVoteMay"></td>
              <td id="nMayBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td class="align-middle" id="eastVoteMay"></td>
              <td id="eMayBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td class="align-middle" id="westVoteMay"></td>
              <td id="wMayBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td class="align-middle" id="southVoteMay"></td>
              <td id="sMayBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
            </tr>
            <tr>
              <th class="align-middle" scope="row">June</th>
              <td class="align-middle">
                <input
                  type="checkbox"
                  class="bpChecks"
                  name="activator"
                  id="actJunBP"
                  disabled
                />
              </td>
              <td class="align-middle" id="northVoteJun"></td>
              <td id="nJunBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td class="align-middle" id="eastVoteJun"></td>
              <td id="eJunBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td class="align-middle" id="westVoteJun"></td>
              <td id="wJunBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td class="align-middle" id="southVoteJun"></td>
              <td id="sJunBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
            </tr>
            <tr>
              <th class="align-middle" scope="row">July</th>
              <td class="align-middle">
                <input
                  type="checkbox"
                  class="bpChecks"
                  name="activator"
                  id="actJulBP"
                  disabled
                />
              </td>
              <td class="align-middle" id="northVoteJul"></td>
              <td id="nJulBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td class="align-middle" id="eastVoteJul"></td>
              <td id="eJulBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td class="align-middle" id="westVoteJul"></td>
              <td id="wJulBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td class="align-middle" id="southVoteJul"></td>
              <td id="sJulBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
            </tr>

            <tr>
              <th class="align-middle" scope="row">August</th>
              <td class="align-middle">
                <input
                  type="checkbox"
                  class="bpChecks"
                  name="activator"
                  id="actAugBP"
                  disabled
                />
              </td>
              <td class="align-middle" id="northVoteAug"></td>
              <td id="nAugBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td class="align-middle" id="eastVoteAug"></td>
              <td id="eAugBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td class="align-middle" id="westVoteAug"></td>
              <td id="wAugBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td class="align-middle" id="southVoteAug"></td>
              <td id="sAugBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
            </tr>
            <tr>
              <th class="align-middle" scope="row">September</th>
              <td class="align-middle">
                <input
                  type="checkbox"
                  class="bpChecks"
                  name="activator"
                  id="actSepBP"
                  disabled
                />
              </td>
              <td class="align-middle" id="northVoteSep"></td>
              <td id="nSepBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td class="align-middle" id="eastVoteSep"></td>
              <td id="eSepBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td class="align-middle" id="westVoteSep"></td>
              <td id="wSepBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td class="align-middle" id="southVoteSep"></td>
              <td id="sSepBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
            </tr>
            <tr>
              <th class="align-middle" scope="row">October</th>
              <td class="align-middle">
                <input
                  type="checkbox"
                  class="bpChecks"
                  name="activator"
                  id="actOctBP"
                  disabled
                />
              </td>
              <td class="align-middle" id="northVoteOct"></td>
              <td id="nOctBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td class="align-middle" id="eastVoteOct"></td>
              <td id="eOctBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td class="align-middle" id="westVoteOct"></td>
              <td id="wOctBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td class="align-middle" id="southVoteOct"></td>
              <td id="sOctBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
            </tr>
            <tr>
              <th class="align-middle" scope="row">November</th>
              <td class="align-middle">
                <input
                  type="checkbox"
                  class="bpChecks"
                  name="activator"
                  id="actNovBP"
                  disabled
                />
              </td>
              <td class="align-middle" id="northVoteNov"></td>
              <td id="nNovBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td class="align-middle" id="eastVoteNov"></td>
              <td id="eNovBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td class="align-middle" id="westVoteNov"></td>
              <td id="wNovBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td class="align-middle" id="southVoteNov"></td>
              <td id="sNovBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
            </tr>
            <tr>
              <th class="align-middle" scope="row">December</th>
              <td class="align-middle">
                <input
                  type="checkbox"
                  class="bpChecks"
                  name="activator"
                  id="actDecBP"
                  disabled
                />
              </td>
              <td class="align-middle" id="northVoteDec"></td>
              <td id="nDecBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td class="align-middle" id="eastVoteDec"></td>
              <td id="eDecBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td class="align-middle" id="westVoteDec"></td>
              <td id="wDecBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
              <td class="align-middle" id="southVoteDec"></td>
              <td id="sDecBP">
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Activators -->
      <div class="even-flex my-3">
        <button
          class="btn btn-primary btn-lg"
          id="bpMonthBtn"
          disabled
          onclick="remarksMonths()"
        >
          Activate Months
        </button>
      </div>

      <!-- Bonus-Penalty Dropdown -->
      <div class="BP-dropdown">
        <form action="" class="was-validated">
          <div class="form-group even-flex text-white">
            <h3 for="bonusValue">Bonus:</h3>
            <select
              class="custom-select h-50 text-muted text-center mx-3"
              id="selectedBonusValue"
              required
            >
              <option value="">Select a Value</option>
              <option value="0">0</option>
              <option value="0.2">2 lakhs</option>
              <option value="0.3">3 lakhs</option>
              <option value="0.4">4 lakhs</option>
              <option value="0.5">5 lakhs</option>
            </select>
            <h3 for="penaltyValue">Penalty:</h3>
            <select
              class="custom-select h-50 text-muted text-center ml-3"
              id="selectedPenaltyValue"
              required
            >
              <option value="">Select a Value</option>
              <option value="0">0</option>
              <option value="0.2">2 lakhs</option>
              <option value="0.3">3 lakhs</option>
              <option value="0.4">4 lakhs</option>
              <option value="0.5">5 lakhs</option>
            </select>
            <!-- <div class="invalid-feedback font-weight-bold mt-n2">Invalid option</div> -->
          </div>
          <div class="mx-auto text-center">
            <button
              class="btn btn-lg btn-success mb-3"
              id="bpAddBtn"
              disabled
              type="submit"
            >
              Add Remarks
            </button>
          </div>
        </form>
      </div>
    </div>

    <!-- Game Stats -->
    <div class="container">
      <div class="row mx-auto my-3">
        <!-- game stats table section -->
        <div
          class="col"
          style="
            border: 1px solid blueviolet;
            padding: 10px 10px;
            border-radius: 15px;
          "
        >
          <h5
            class="card-header display-4 text-center mb-2"
            style="border-radius: 15px"
          >
            Game Stats
          </h5>
          <!-- table showing Game stats so far.. -->
          <div class="table-responsive text-center">
            <table
              class="table table-bordered table-hover table-striped table-sm table-dark"
            >
              <thead>
                <tr>
                  <th scope="col" class="align-middle" rowspan="2">Month</th>
                  <th scope="col" colspan="3">North</th>
                  <th scope="col" colspan="3">East</th>
                  <th scope="col" colspan="3">West</th>
                  <th scope="col" colspan="3">South</th>
                </tr>
                <tr>
                  <th>Vote</th>
                  <th>Amount</th>
                  <th>Remarks</th>
                  <th>Vote</th>
                  <th>Amount</th>
                  <th>Remarks</th>
                  <th>Vote</th>
                  <th>Amount</th>
                  <th>Remarks</th>
                  <th>Vote</th>
                  <th>Amount</th>
                  <th>Remarks</th>
                </tr>
              </thead>
              <tbody class="stats-tbody">
                <tr>
                  <th>January</th>
                  <td id="VNJan"></td>
                  <td id="ANJan"></td>
                  <td id="RNJan"></td>
                  <td id="VEJan"></td>
                  <td id="AEJan"></td>
                  <td id="REJan"></td>
                  <td id="VWJan"></td>
                  <td id="AWJan"></td>
                  <td id="RWJan"></td>
                  <td id="VSJan"></td>
                  <td id="ASJan"></td>
                  <td id="RSJan"></td>
                </tr>
                <tr>
                  <th>February</th>
                  <td id="VNFeb"></td>
                  <td id="ANFeb"></td>
                  <td id="RNFeb"></td>
                  <td id="VEFeb"></td>
                  <td id="AEFeb"></td>
                  <td id="REFeb"></td>
                  <td id="VWFeb"></td>
                  <td id="AWFeb"></td>
                  <td id="RWFeb"></td>
                  <td id="VSFeb"></td>
                  <td id="ASFeb"></td>
                  <td id="RSFeb"></td>
                </tr>
                <tr>
                  <th>March</th>
                  <td id="VNMar"></td>
                  <td id="ANMar"></td>
                  <td id="RNMar"></td>
                  <td id="VEMar"></td>
                  <td id="AEMar"></td>
                  <td id="REMar"></td>
                  <td id="VWMar"></td>
                  <td id="AWMar"></td>
                  <td id="RWMar"></td>
                  <td id="VSMar"></td>
                  <td id="ASMar"></td>
                  <td id="RSMar"></td>
                </tr>
                <tr>
                  <th>April</th>
                  <td id="VNApr"></td>
                  <td id="ANApr"></td>
                  <td id="RNApr"></td>
                  <td id="VEApr"></td>
                  <td id="AEApr"></td>
                  <td id="REApr"></td>
                  <td id="VWApr"></td>
                  <td id="AWApr"></td>
                  <td id="RWApr"></td>
                  <td id="VSApr"></td>
                  <td id="ASApr"></td>
                  <td id="RSApr"></td>
                </tr>
                <tr>
                  <th>May</th>
                  <td id="VNMay"></td>
                  <td id="ANMay"></td>
                  <td id="RNMay"></td>
                  <td id="VEMay"></td>
                  <td id="AEMay"></td>
                  <td id="REMay"></td>
                  <td id="VWMay"></td>
                  <td id="AWMay"></td>
                  <td id="RWMay"></td>
                  <td id="VSMay"></td>
                  <td id="ASMay"></td>
                  <td id="RSMay"></td>
                </tr>
                <tr>
                  <th>June</th>
                  <td id="VNJun"></td>
                  <td id="ANJun"></td>
                  <td id="RNJun"></td>
                  <td id="VEJun"></td>
                  <td id="AEJun"></td>
                  <td id="REJun"></td>
                  <td id="VWJun"></td>
                  <td id="AWJun"></td>
                  <td id="RWJun"></td>
                  <td id="VSJun"></td>
                  <td id="ASJun"></td>
                  <td id="RSJun"></td>
                </tr>
                <tr>
                  <th>July</th>
                  <td id="VNJul"></td>
                  <td id="ANJul"></td>
                  <td id="RNJul"></td>
                  <td id="VEJul"></td>
                  <td id="AEJul"></td>
                  <td id="REJul"></td>
                  <td id="VWJul"></td>
                  <td id="AWJul"></td>
                  <td id="RWJul"></td>
                  <td id="VSJul"></td>
                  <td id="ASJul"></td>
                  <td id="RSJul"></td>
                </tr>
                <tr>
                  <th>August</th>
                  <td id="VNAug"></td>
                  <td id="ANAug"></td>
                  <td id="RNAug"></td>
                  <td id="VEAug"></td>
                  <td id="AEAug"></td>
                  <td id="REAug"></td>
                  <td id="VWAug"></td>
                  <td id="AWAug"></td>
                  <td id="RWAug"></td>
                  <td id="VSAug"></td>
                  <td id="ASAug"></td>
                  <td id="RSAug"></td>
                </tr>
                <tr>
                  <th>September</th>
                  <td id="VNSep"></td>
                  <td id="ANSep"></td>
                  <td id="RNSep"></td>
                  <td id="VESep"></td>
                  <td id="AESep"></td>
                  <td id="RESep"></td>
                  <td id="VWSep"></td>
                  <td id="AWSep"></td>
                  <td id="RWSep"></td>
                  <td id="VSSep"></td>
                  <td id="ASSep"></td>
                  <td id="RSSep"></td>
                </tr>
                <tr>
                  <th>October</th>
                  <td id="VNOct"></td>
                  <td id="ANOct"></td>
                  <td id="RNOct"></td>
                  <td id="VEOct"></td>
                  <td id="AEOct"></td>
                  <td id="REOct"></td>
                  <td id="VWOct"></td>
                  <td id="AWOct"></td>
                  <td id="RWOct"></td>
                  <td id="VSOct"></td>
                  <td id="ASOct"></td>
                  <td id="RSOct"></td>
                </tr>
                <tr>
                  <th>November</th>
                  <td id="VNNov"></td>
                  <td id="ANNov"></td>
                  <td id="RNNov"></td>
                  <td id="VENov"></td>
                  <td id="AENov"></td>
                  <td id="RENov"></td>
                  <td id="VWNov"></td>
                  <td id="AWNov"></td>
                  <td id="RWNov"></td>
                  <td id="VSNov"></td>
                  <td id="ASNov"></td>
                  <td id="RSNov"></td>
                </tr>
                <tr>
                  <th>December</th>
                  <td id="VNDec"></td>
                  <td id="ANDec"></td>
                  <td id="RNDec"></td>
                  <td id="VEDec"></td>
                  <td id="AEDec"></td>
                  <td id="REDec"></td>
                  <td id="VWDec"></td>
                  <td id="AWDec"></td>
                  <td id="RWDec"></td>
                  <td id="VSDec"></td>
                  <td id="ASDec"></td>
                  <td id="RSDec"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Game Summary section -->
    <div
      class="container"
      style="border: 1px solid blueviolet; border-radius: 15px"
    >
      <h5
        class="card-header text-center display-4 my-2"
        style="border-radius: 15px"
      >
        Game Summary
      </h5>
      <div class="gameStat even-flex">
        <div class="trophy-image">
          <img
            src="/img/wnr.jpg"
            alt="winner"
            style="width: 150px; height: 150px; border-radius: 50%"
          />
        </div>
        <div class="stat-content my-auto">
          <h3 class="mr-2 ml-2">
            <a class="display-4" id="leading"></a> Leading...
          </h3>
          <h3 class="mr-2 ml-2">
            with remaining amount
            <a class="display-4" id="leadAmount" style="font-size: 1.5em"></a>
            millions
          </h3>
        </div>
      </div>
      <hr />
      <div class="game-summary-table px-3 mx-auto mb-3">
        <div class="row">
          <div class="col">
            <div class="row even-flex">
              <h3>North</h3>
            </div>
            <div class="row even-flex">
              <h5>
                Balance:
                <a
                  class="mx-auto display-4"
                  id="northBal"
                  style="font-size: 1.2em"
                ></a>
                millions
              </h5>
            </div>
          </div>
          <div class="col">
            <div class="row even-flex">
              <h3>East</h3>
            </div>
            <div class="row even-flex">
              <h5>
                Balance:
                <a
                  class="mx-auto display-4"
                  id="eastBal"
                  style="font-size: 1.2em"
                ></a>
                millions
              </h5>
            </div>
          </div>
          <div class="col">
            <div class="row even-flex">
              <h3>West</h3>
            </div>
            <div class="row even-flex">
              <h5>
                Balance:
                <a
                  class="mx-auto display-4"
                  id="westBal"
                  style="font-size: 1.2em"
                ></a>
                millions
              </h5>
            </div>
          </div>
          <div class="col">
            <div class="row even-flex">
              <h3>South</h3>
            </div>
            <div class="row even-flex">
              <h5>
                Balance:
                <a
                  class="mx-auto display-4"
                  id="southBal"
                  style="font-size: 1.2em"
                ></a>
                millions
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- To End The Current Game -->
    <div class="my-3 even-flex mb-5">
      <button class="btn btn-lg btn-danger" onclick="endGame()">
        End Game
      </button>
      <!-- <button class="btn btn-lg btn-primary">Restart Game</button> -->
    </div>

    <!-- Footer starts here -->
    <footer class="mt-5">
      <h6 class="text-center">COPYRIGHT © YIP, Kerala.</h6>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script> -->
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
    <script src="/js/session.js"></script>
    <script src="/js/admin.js"></script>
    <script src="/js/gameSummaryStats.js"></script>
  </body>
</html>
