<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Team | Yamuni</title>

    <link rel="stylesheet" href="/css/team.css" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&family=Berkshire+Swash&family=Cairo:wght@400;900&family=Gayathri&family=Indie+Flower&family=Titan+One&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Grenze+Gotisch:wght@700&family=Just+Another+Hand&family=Lobster&family=Montserrat:wght@400;600;700&family=Piedra&family=Poppins:wght@400;600;700&family=Quicksand:wght@500&family=Russo+One&family=Rye&display=swap"
    />
  </head>
  <body onload="gameCheck()">
    <!-- Navigations -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand font-weight-bold" href="#">YAMUNI</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link font-weight-bold" href="#"
              >Team<span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight-bold" href="/scoreboard"
              >Scoreboard</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight-bold" href="/doc"
              >How to?</a
            >
          </li>
        </ul>
        <form class="form-inline my-2">
          <a class="nav-link font-weight-bold ml-n3" href="/" onclick="logout()"
            >Log Out</a
          >
        </form>
      </div>
    </nav>

    <!-- Heading and Instruction-->
    <div class="container text-center mt-5">
      <!-- TEAM NAME Comes HERE -->
      <h1 id="teamName" class="display-3 team-name"></h1>
      <!-- instructions -->
      <button
        type="button"
        class="btn instructions mt-n5 float-right"
        data-toggle="modal"
        data-target="#exampleModalScrollable"
      >
        <h3>Instructions</h3>
      </button>

      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModalScrollable"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalScrollableTitle"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-scrollable" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h6 class="modal-title" id="exampleModalScrollableTitle">
                Instructions
              </h6>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p class="text-justify">
                You are required to send a message C or D to the World Bank
                every month. Depending on the following rules, the Bank will
                either give you funds during that month or ask you to contribute
                a specific sum from your resources. Sometimes the World Bank may
                have additional funds and this information will be announced in
                advance.
              </p>
              <hr />
              <h5 class="text-center font-weight-bold">
                Rules of Payoff Distribution
              </h5>
              <table
                class="table-sm text-center table-bordered table-responsive"
              >
                <thead>
                  <tr>
                    <th scope="col">No. Of C Messages</th>
                    <th scope="col">No. Of D Messages</th>
                    <th scope="col">Payoff for C Messages</th>
                    <th scope="col">Payoff for C Messages</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>4</td>
                    <td>-</td>
                    <td>Will get Rs. 1 million each</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>1</td>
                    <td>Will contribute Rs. 1 million each</td>
                    <td>Will get Rs. 3 million each</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>2</td>
                    <td>Will contribute Rs. 2 million each</td>
                    <td>Will get Rs. 2 million each</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>3</td>
                    <td>Will contribute Rs. 3 million each</td>
                    <td>Will get Rs. 1 million each</td>
                  </tr>
                  <tr>
                    <td>-</td>
                    <td>4</td>
                    <td>-</td>
                    <td>Will contribute Rs. 1 million each</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <!-- <button type="button" class="btn btn-primary">
                Save changes
              </button> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Game Controller -->
    <div class="input-controller container shadow-lg mx-auto my-5 text-center">
      <h1 class="display-4 text-center text-white" id="month">Current Month</h1>
      <div id="voteOptions">
        <h1 class="input-heading mb-3">Vote an Option</h1>
        <div class="input-btns">
          <button
            class="btn btn-lg btn-outline-danger font-weight-bold mx-5 my-2"
          >
            <a class="display-4 vote-btn">C</a>
          </button>
          <button
            class="btn btn-lg btn-outline-warning font-weight-bold mx-5 my-2"
          >
            <a class="display-4 vote-btn">D</a>
          </button>
        </div>
        <button type="button" class="btn btn-primary btn-sm text-center my-4">
          <a class="display-4" id="vote">VOTE!</a>
        </button>
      </div>
    </div>

    <!-- Game History section -->
    <div
      class="container game-stats shadow-lg text-center p-2 px-3 mb-4"
    >
      <h1 class="display-4">Team Stats</h1>
      <h3 class="text-success" id="balance">Balance Available:</h3>

      <!-- game history grid -->
      <!-- 3 rows conataining 4 months each -->
      <div
        class="game-history-box shadow mb-3 p-3"
      >
        <h3 class="game-history text-warning my-4">
          Game History
        </h3>
        <div class="row" style="margin-top: 10px; margin-bottom: 10px">
          <!-- row1 -->
          <div class="col-md-3">
            <!-- history of january -->

            <div class="card">
              <div class="card-header" id="historyMonth">JAN</div>
              <div class="card-body">
                <h5 class="card-title" id="janBalance"></h5>
                <h4 class="card-title" id="janVote"></h4>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <div class="card-header" id="historyMonth">FEB</div>
              <div class="card-body">
                <h5 class="card-title" id="febBalance"></h5>
                <h4 class="card-title" id="febVote"></h4>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <div class="card-header" id="historyMonth">MAR</div>
              <div class="card-body">
                <h5 class="card-title" id="marBalance"></h5>
                <h4 class="card-title" id="marVote"></h4>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <div class="card-header" id="historyMonth">APR</div>
              <div class="card-body">
                <h5 class="card-title" id="aprBalance"></h5>
                <h4 class="card-title" id="aprVote"></h4>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 10px; margin-bottom: 10px">
          <!-- row2 -->

          <div class="col-md-3">
            <div class="card">
              <div class="card-header" id="historyMonth">MAY</div>
              <div class="card-body">
                <h5 class="card-title" id="mayBalance"></h5>
                <h4 class="card-title" id="mayVote"></h4>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <div class="card-header" id="historyMonth">JUN</div>
              <div class="card-body">
                <h5 class="card-title" id="junBalance"></h5>
                <h4 class="card-title" id="junVote"></h4>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <div class="card-header" id="historyMonth">JUL</div>
              <div class="card-body">
                <h5 class="card-title" id="julBalance"></h5>
                <h4 class="card-title" id="julVote"></h4>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <div class="card-header" id="historyMonth">AUG</div>
              <div class="card-body">
                <h5 class="card-title" id="augBalance"></h5>
                <h4 class="card-title" id="augVote"></h4>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 10px; margin-bottom: 10px">
          <!-- row3 -->
          <div class="col-md-3">
            <div class="card">
              <div class="card-header" id="historyMonth">SEP</div>
              <div class="card-body">
                <h5 class="card-title" id="sepBalance"></h5>
                <h4 class="card-title" id="sepVote"></h4>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <div class="card-header" id="historyMonth">OCT</div>
              <div class="card-body">
                <h5 class="card-title" id="octBalance"></h5>
                <h4 class="card-title" id="octVote"></h4>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <div class="card-header" id="historyMonth">NOV</div>
              <div class="card-body">
                <h5 class="card-title" id="novBalance"></h5>
                <h4 class="card-title" id="novVote"></h4>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <div class="card-header" id="historyMonth">DEC</div>
              <div class="card-body">
                <h5 class="card-title" id="decBalance"></h5>
                <h4 class="card-title" id="decVote"></h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- footer Starts here -->
    <footer>
      <h6 class="text-center">COPYRIGHT © YIP, Kerala.</h6>
    </footer>
    <!-- Scripts Starts Here  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script> -->
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.0/gsap.min.js"></script>

    <!-- Animation Speed & Effects -->
    <script>
      var tl = gsap.timeline({ defaults: { duration: 0.5 } });

      tl.from(".display-3", { y: -100, opacity: 0 })
        .from(".instructions", { x: 50, opacity: 0 })
        .from(".input-controller", { x: -50, opacity: 0 })
        .from(".input-controller button, .input-controller h1", {
          y: -100,
          stagger: 0.3,
          opacity: 0,
        })
        .from(".game-stats", { x: 50, opacity: 0 })
        .from(
          ".game-stats h1, .game-stats h3, .game-history-box, .game-history, .card",
          { y: -100, stagger: 0.6, opacity: 0 }
        )
        .from("footer", { x: 30, opacity: 0 });
    </script>

    <!-- External JavaScript Files -->
    <script src="/js/session.js"></script>
    <script src="/js/team.js"></script>
  </body>
</html>
